## Problem 49

The arithmetic sequence, 1487, 4817, 8147, in which each of the terms increases by 3330, is unusual in two ways: (i) each of the three terms are prime, and, (ii) each of the 4-digit numbers are permutations of one another.

There are no arithmetic sequences made up of three 1-, 2-, or 3-digit primes, exhibiting this property, but there is one other 4-digit increasing sequence.

What 12-digit number do you form by concatenating the three terms in this sequence?

In [2]:
import pandas as pd

In [12]:
import numpy as np

In [4]:
df=pd.read_excel('My_prime_dataset.xlsx')

In [6]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,285,286,287,288,289,290,291,292,293,294
1,786433,2,3,262147,5,7,262151,262153,917513,11,...,262541,262543,655757,401,786829,786833,131477,131479,409,262553
2,393629,524701,131489,419,524707,421,393637,262567,917923,131497,...,131909,262981,839,525127,918341,918347,787277,394063,525137,918353
3,853,131927,525143,857,394073,859,787289,131933,656221,863,...,132347,918779,1277,1279,263423,787711,1283,525571,263429,394501
4,918787,1289,132361,1291,394507,263437,656651,132367,525583,1297,...,919189,657047,132761,657049,132763,525979,1693,525983,1697,788129
5,1699,263843,657061,263849,1709,657071,394931,263863,657079,1721,...,2113,657473,133187,919613,788549,919621,264263,264269,919631,2129

* I want to check prime nos that are 4 digit nos.
* So going to select them from this dataset as below

In [16]:
a=np.array(df.values)

In [58]:
b=a.flatten()   #converting 2d array to 1d array

In [59]:
b=b[(1000<=b)&(b<10000)]

# So now b contains all the 4 digit prime nos.

In [60]:
b

array([1009, 1013, 1019, ..., 9949, 9967, 9973], dtype=int64)

# Permutation Check
* Idea:
    * Sort the nos using any best sorting technique
    * Compare the nos. 
        * if they match then they are permutations of each other.
        * else they are not.

# Solution below

In [76]:
for i in range(1000,10000):
    if(i not in b):
        continue
    if(i+3330 not in b):
        continue
    if((i+3330)+3330 not in b):
        continue    
    n1=list(str(i))
    n2=list(str(i+3330))
    n3=list(str((i+3330)+3330))
    n1.sort()
    n2.sort()
    if(n1!=n2):
        continue
    n3.sort()
    if(n1!=n3):
        continue
    
    print(i,i+3330,(i+3330)+3330)

1487 4817 8147
2969 6299 9629