In [1]:
import numpy as np,pandas as pd

In [2]:
import factorsPkg as fact

In [3]:
import primePkg as pp

## Using My_prime_dataset for checking prime

In [4]:
df= pd.DataFrame(pd.read_excel('My_prime_dataset.xlsx'))

In [5]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,285,286,287,288,289,290,291,292,293,294
1,786433,2,3,262147,5,7,262151,262153,917513,11,...,262541,262543,655757,401,786829,786833,131477,131479,409,262553
2,393629,524701,131489,419,524707,421,393637,262567,917923,131497,...,131909,262981,839,525127,918341,918347,787277,394063,525137,918353
3,853,131927,525143,857,394073,859,787289,131933,656221,863,...,132347,918779,1277,1279,263423,787711,1283,525571,263429,394501
4,918787,1289,132361,1291,394507,263437,656651,132367,525583,1297,...,919189,657047,132761,657049,132763,525979,1693,525983,1697,788129
5,1699,263843,657061,263849,1709,657071,394931,263863,657079,1721,...,2113,657473,133187,919613,788549,919621,264263,264269,919631,2129

## Example test: (Checking if 132347 is in this set):
* Result should be true

In [6]:
132347 in df.values

True

## Project Euler 47

The first two consecutive numbers to have two distinct prime factors are:

14 = 2 × 7

15 = 3 × 5

The first three consecutive numbers to have three distinct prime factors are:

644 = 2² × 7 × 23

645 = 3 × 5 × 43

646 = 2 × 17 × 19.

Find the first four consecutive integers to have four distinct prime factors each. What is the first of these numbers?

## Below example shows how to compare two sets

In [9]:
s=set()
s2=set()
s={2,3}
s2={5,7}
t=s.intersection(s2)  #Note comparing sets has nothing to do with our problem , just testing some set methods here.
print(len(t))

0

## Solution:

In [8]:
s1=set()
s2=set()
s3=set()
s4=set()
for i in range(100000,1000000):    
    s1=set()
    s2=set()
    s3=set()
    s4=set()
    for x in fact.my_factors(i):
        if(pp.isPrime(x)):
            s1.add(x)
    for x in fact.my_factors(i+1):
        if(pp.isPrime(x)):
            s2.add(x)
    for x in fact.my_factors(i+2):
        if(pp.isPrime(x)):
            s3.add(x)
    for x in fact.my_factors(i+3):
        if(pp.isPrime(x)):
            s4.add(x)    
    if(len(s1)!=4 or len(s2)!=4 or len(s3)!=4 or len(s4)!=4):
        continue
    else:
        print("i = ",i,"\nSet 1: ",s1,"\nSet 2: ",s2,"\nSet 3: ",s3,"\nSet 4:",s4)
        print()
        break

i =  134043
Set 1:  {3, 491, 13, 7}
Set 2:  {2, 31, 47, 23}
Set 3:  {17, 83, 19, 5}
Set 4: {11, 2, 3, 677}

## Tried this method(see below) of primeset instead of pp.isPrime but didn't work 
i.e:
primeset=df.values
2 in primeset like this stuff runs very slow inside loops
so used pp.isPrime itself