In [17]:
import numpy as np

In [42]:
import primePkg as pp

In [2]:
pp.isPrime(886127)

0

In [23]:
pset=np.array(list(pp.primeSet)).reshape(267,294)

In [15]:
n=78498
l=list()
r=int(n**.5)
i=1
if(r**2==n):
    l.append(r)
while(i<r):
    if(n%i==0):
        l.append(int(i))        
        l.append(int(n/i))
        print("i = ",i," n = ",n/i)
    i=i+1
print(l)

i =  1  n =  78498.0
i =  2  n =  39249.0
i =  3  n =  26166.0
i =  6  n =  13083.0
i =  7  n =  11214.0
i =  9  n =  8722.0
i =  14  n =  5607.0
i =  18  n =  4361.0
i =  21  n =  3738.0
i =  42  n =  1869.0
i =  49  n =  1602.0
i =  63  n =  1246.0
i =  89  n =  882.0
i =  98  n =  801.0
i =  126  n =  623.0
i =  147  n =  534.0
i =  178  n =  441.0
i =  267  n =  294.0
[1, 78498, 2, 39249, 3, 26166, 6, 13083, 7, 11214, 9, 8722, 14, 5607, 18, 4361, 21, 3738, 42, 1869, 49, 1602, 63, 1246, 89, 882, 98, 801, 126, 623, 147, 534, 178, 441, 267, 294]

In [21]:
import pandas as pd

In [26]:
df=pd.DataFrame(pset,np.arange(1,268),np.arange(1,295))

In [27]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,285,286,287,288,289,290,291,292,293,294
1,786433,2,3,262147,5,7,262151,262153,917513,11,...,262541,262543,655757,401,786829,786833,131477,131479,409,262553
2,393629,524701,131489,419,524707,421,393637,262567,917923,131497,...,131909,262981,839,525127,918341,918347,787277,394063,525137,918353
3,853,131927,525143,857,394073,859,787289,131933,656221,863,...,132347,918779,1277,1279,263423,787711,1283,525571,263429,394501
4,918787,1289,132361,1291,394507,263437,656651,132367,525583,1297,...,919189,657047,132761,657049,132763,525979,1693,525983,1697,788129
5,1699,263843,657061,263849,1709,657071,394931,263863,657079,1721,...,2113,657473,133187,919613,788549,919621,264263,264269,919631,2129

In [28]:
type(df)

pandas.core.frame.DataFrame

In [30]:
a=np.array(df.values)

In [31]:
b=a.flatten()

In [32]:
b

array([786433,      2,      3, ..., 262139, 655357, 131071])

In [33]:
len(b)

78498

In [35]:
263843 in df.values

True

In [36]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,285,286,287,288,289,290,291,292,293,294
1,786433,2,3,262147,5,7,262151,262153,917513,11,...,262541,262543,655757,401,786829,786833,131477,131479,409,262553
2,393629,524701,131489,419,524707,421,393637,262567,917923,131497,...,131909,262981,839,525127,918341,918347,787277,394063,525137,918353
3,853,131927,525143,857,394073,859,787289,131933,656221,863,...,132347,918779,1277,1279,263423,787711,1283,525571,263429,394501
4,918787,1289,132361,1291,394507,263437,656651,132367,525583,1297,...,919189,657047,132761,657049,132763,525979,1693,525983,1697,788129
5,1699,263843,657061,263849,1709,657071,394931,263863,657079,1721,...,2113,657473,133187,919613,788549,919621,264263,264269,919631,2129

In [43]:
len(pp.primeSet)

78498

In [45]:
df.to_csv("My_prime_dataset",index=False)

In [46]:
df2=pd.read_csv("My_prime_dataset")

In [47]:
df2.head

<bound method NDFrame.head of           1       2       3       4       5       6       7       8       9  \
0    786433       2       3  262147       5       7  262151  262153  917513
1    393629  524701  131489     419  524707     421  393637  262567  917923
2       853  131927  525143     857  394073     859  787289  131933  656221
3    918787    1289  132361    1291  394507  263437  656651  132367  525583
4      1699  263843  657061  263849    1709  657071  394931  263863  657079
5    133201    2131  657491  657493  788561  526423  788563    2137  657497
6    264739  133669  789029  264743  657959  133673  789031  920107  264749
7    658379    3023  396239  265169  396247  658391  920539    3037  527327
8    265619  265621  658837  658841  396703    3491  396709  920999  396713
9    266083  528223  659299  790369    3943  135017  266089    3947  135019
10   659741  921887  528673  790817  790819  921889  135461    4391  135463
11   791251  135893  660181  398039  922321  791257  135899  266971  529117
12     5261  136333  398477  660617  136337  660619  791699  267413  136343
13     5683  267829  529973  398903  792119    5689  267833  529979  661049
14   661483  137197  792553  268271  792559  137201    6131  792563    6133
15   924073    6577  268721  399793  661939    6581  137653  530869  924083
16   269179    7039  269183  138113  662401    7043  531331  269189  400261
17   138571  793931  138577  400721    7507  269651  138581  400723  531793
18     7949  139021    7951  794383  270097  532241  401173  794389  663319
19   663763  270551  270553  925913  139483  401627  401629  139487  925921
20     8839  664199  533129  926351    8849  139921  664211  926353  926357
21   402517  664661  664663  533593  795737  271451  664667  140381  664669
22   140813  534029    9743  796177    9749  796181  665111  271897  665113
23   665557  796633  272347  534491  141277  665563  272351  927709  272353
24   666013  928157  534943  928159   10657  141731  666019  403877  534949
25   797557  273271  797561   11131  666493  928637  797567  273281  797569
26   142699  404843  273773  666989  535919  798059   11633  404849  404851
27   536357  798503  929573  929581  274223  667441  405299  929587  798517
28   143593  274667  667883   12527  798961  405749  274679  143609   12539
29   406207  537281  799427  930499  144071  537287   13001  144073   13003
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
237  114799  508019  639091  376949  508021  770167  114809  245881  901247
238  901787  639647  115361  508577  115363  508579  246439  508583  377513
239  115879  378023  902311  115883  509101  115891  378041  246971  115901
240  378593  771809  640741  247529  378601  247531  116461  509681  116471
241  116993  772349  903421  248071  641287  510217  379147  248077  772367
242  772907  903979  248621  379693  510767  772909  772913  248627  379699
243  904513  642373  904517  380231  773447  904523  118093  773453  904531
244  118633  380777  773999  905071  774001  511859  642931  249721  642937
245  250279  512429  905647  774577  643507  905651  774583  119227  381371
246  381911  906197  250841  644057  119771  906203  119773  381917  512989
247  644569  120283  382427  382429  906713  251359  120293  513509  513511
248  907237  251879  645097  120811  776173  251887  120817  382961  776177
249  383483  645629  121343  383489  514561  252419  121349  121351  645641
250  384029  908317  777247  121889  908321  777251  646181  515111  646183
251  253501  908861  908863  384577  646721  253507  515651  384581  515653
252  385087  516161  516163  778307  254021  909379  909383  122953  516169
253  647747  778819  909889  385607  516679  254537  647753  909899  909901
254  779351  779353  517211  648283  123997  779357  255071  386143  124001
255  910957  779887  124529  517747  386677  779899  124541  255613  124543
256  256147  518291  911507  387227  518299  256163  649379  125093  649381
257  518831  125617  912047  387763  649907  125621  912049  912053  125627
258  519391  257249  650477  257263  650479  650483  519413  126199  781559
259  388891  782107  126751  913183  388897  782113  519971  651043  126757
260  782687  651617  782689  127331  258403  520547  520549  258407  389479
261  652153  127867  783227  127873  127877  258949  258959  783247  914321
262  783733  128377  783737  259451  652667  259453  914813  390527  783743
263  259993  653207  128923  391067  653209  784283  915353  391073  260003
264  522689  653761  391619  260549  784837  260551  915911  784841  391627
265  785353  523213  785357  261071  392143  130003  523219  261077  392149
266  523741  261601  654817  130531  916961  654821  654827  916973  523759

         10   ...       285     286     287     288     289     290     291  \
0        11   ...    262541  262543  655757     401  786829  786833  131477
1    131497   ...    131909  262981     839  525127  918341  918347  787277
2       863   ...    132347  918779    1277    1279  263423  787711    1283
3      1297   ...    919189  657047  132761  657049  132763  525979    1693
4      1721   ...      2113  657473  133187  919613  788549  919621  264263
5    264283   ...    133649    2579  526871  133657  789017  264731  395803
6      2609   ...    134081    3011  789443  265157  134087  920519  134089
7      3041   ...    527749    3463  265607  396679  527753    3467  920971
8    921001   ...    790351    3923  134999    3929  528217    3931  135007
9    266093   ...    659723  921871  528659    4373  397589  397591  135449
10   528679   ...    660167  266953  529097    4813  266957  135887  398029
11   791261   ...    136319  267391  660607  398467  136327  398471  267401
12     5273   ...    529961  792101  792107  923171  792109  923177  136751
13     5693   ...    137183    6113  530401  923617  661477  137191  792551
14   137209   ...      6563  530851  399781  137639    6569  530857    6571
15   268729   ...    269167  924527  924529    7027  400243  138101  400247
16   662407   ...    138559    7489  400703  138563  924997  400711  793927
17   531799   ...    663283    7927  270071  270073  794363    7933    7937
18   139033   ...      8387  139459    8389  925891  270539  925901  532687
19     8419   ...    402043  926327  139901  270973    8831  402049  664193
20   402071   ...    271429  533573  402503  140363    9293  533581  402511
21     9311   ...    927229  665089  927233  402947  534019    9733  402949
22   140827   ...    141257  272329  534473  796619  272333  665549  141263
23   665569   ...     10639  928139  928141  534931  403861  797077  141719
24    10663   ...     11113  928619   11117  142189   11119  797549  142193
25   142211   ...    929113  404827  798043   11617  666979   11621  404837
26   798067   ...    667421  667423  143137  536353  667427  143141  274213
27   143159   ...    798937  667867  930011   12511  798943  536801  405731
28   930043   ...    930481   12979  537269   12983  275129  799417  275131
29   275147   ...    537743   13457  406673  799891  537749  668821   13463
..      ...   ...       ...     ...     ...     ...     ...     ...     ...
237  508033   ...    508549  115337  115343  508559  639631  804473  377491
238  377521   ...    246941  902299  509087  902303  115873  771233  246947
239  902333   ...    116437  509653  378583  640727  902873  116443  509659
240  509687   ...    379123  116981  772339  510199  248057  510203  116989
241  510227   ...    379679  510751  248609  379681  117539  641827  117541
242  510773   ...    773417  904489  904499  249143  642359  511289  642361
243  380251   ...    511831  118619  642907  118621  905053  511843  773987
244  511867   ...    250259  905621  119191  774551  250267  905629  381343
245  250301   ...    906179  906187  250829  119759  644047  512977  775121
246  906211   ...    775627  644557  906701  775633  251347  644563  120277
247  906727   ...    907223  514009  935813  382939  645083  514013  907229
248  776179   ...    645611  776683  907757  121327  514543  252401  907759
249  514571   ...    121867  646157  515087  646159  384017  515089  252949
250  252971   ...    515621  253481  777769  908849  908851  253493  777781
251  122443   ...    122929  254003  647219  385079  516151  385081  122939
252  254027   ...    385589  909877  254519  385591  123449  385597  647741
253  778831   ...    255053  648269  123983  779341  386129  386131  779347
254  517217   ...    779869  124513  517729  255587  648803  255589  517733
255  255617   ...    387197  387199  256129  387203  256133  780421  125063
256  518311   ...    125597  518813  387743  912031  780961  387749  649897
257  256699   ...    519373  781519  650449  781523  257239  519383  388313
258  257273   ...    651017  832787  519947  651019  126733  388879  126739
259  388901   ...    258373  389447  913739  782669  782671  520529  258389
260  389483   ...    258917  389989  258919  521063  127849  914279  389999
261  521107   ...    259429  914789  390503  783719  783721  914791  652651
262  259459   ...    259967  522113  128903  391049  653197  522127  391057
263  915367   ...    522673  129461  522677  522679  653749  260539  129469
264  915917   ...    785329  785333  916411  785341  916417  261059  392131
265  654293   ...    130513  523729  261587  654803  130517  392663  785879
266  785903   ...    262127  131059  393203  262133  786419  131063  393209

        292     293     294
0    131479     409  262553
1    394063  525137  918353
2    525571  263429  394501
3    525983    1697  788129
4    264269  919631    2129
5    657947    2591    2593
6      3019  265163  134093
7      3469  265613  658831
8    397151  266081  397153
9    266521  528667  397597
10     4817  398033  529103
11   398473  267403  529547
12   923179  136753  923183
13     6121  661481  268267
14   399787  530861  661931
15   269177  400249  138107
16   138569  269641    7499
17   663301  925447  401161
18   794831  270547  532691
19   139907    8837  402053
20   795727  926797  926803
21   271879    9739  796171
22    10193  141269  272341
23   928153   10651  403867
24   797551  928621  273269
25   666983  142697  929129
26    12071  405287   12073
27   536803   12517  274661
28   668347  144061  930491
29   144539   13469  144541
..      ...     ...     ...
237  639637  901781  508567
238  378019  115877  640163
239  640733  116447  247519
240  379133  248063  641279
241  903967  772903  641833
242  904511  118081  511297
243  773989  905059  249703
244  381347  512419  643493
245  644051  250837  644053
246  906707  775639  251353
247  776159  645091  514021
248  121333  776693  252409
249  646169  777241  121883
250  515639  908857  777787
251  909371  516157  778301
252  647743  123457  516673
253  123989  910421  517207
254  779873  779879  517739
255  911503  649361  780433
256  780971  780973  256687
257  781531  126173  388319
258  651029  126743  913177
259  389461  127321  913753
260  390001  127859  914293
261  521581  652657  914801
262  653203  259991  391063
263  391613  260543  784831
264  261061  785347  523207
265  261593  130523  392669
266  262139  655357  131071

[267 rows x 294 columns]>

In [48]:
df.values

array([[786433,      2,      3, ..., 131479,    409, 262553],
       [393629, 524701, 131489, ..., 394063, 525137, 918353],
       [   853, 131927, 525143, ..., 525571, 263429, 394501],
       ...,
       [522689, 653761, 391619, ..., 261061, 785347, 523207],
       [785353, 523213, 785357, ..., 261593, 130523, 392669],
       [523741, 261601, 654817, ..., 262139, 655357, 131071]])

In [52]:
df.to_excel('My_prime_dataset.xlsx',sheet_name='NewSheet')

In [56]:
pd.read_excel('My_prime_dataset.xlsx')

False